@page
@model WebApp.Pages_CheckersGames.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Games</h1>

<p>
    <a asp-page="Create">Create New Game</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CheckersGame[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckersGame[0].StartedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckersGame[0].GameOverAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckersGame[0].GameWonByPlayer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckersGame[0].Player1Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckersGame[0].Player2Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckersGame[0].Player2Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckersGame[0].CheckersOption)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CheckersGame) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameOverAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GameWonByPlayer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Player1Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Player2Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Player2Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckersOption!.Name)
        </td>
        <td>
            <a asp-page="./Play" asp-route-id="@item.Id">Continue Game</a>
            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
}
    </tbody>
</table>
